<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/utils.css" />
    <link rel="stylesheet" href="CSS/about.css" />
    <link rel="stylesheet" href="/CSS/contact.css" />
    <link rel="stylesheet" href="/CSS/bootstrap.css" />
    <link rel="stylesheet" href="/CSS/index.css" />
    <link rel="stylesheet" href="/CSS/login_reg.css" />
    <link rel="stylesheet" href="/CSS/responsive.css" />
    <link rel="stylesheet" href="/CSS/search.css" />
    <link rel="stylesheet" href="/CSS/blog.css" />
    

    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Blog Website</title>
  </head>

  <body>
    {{>nav}}

      <div class="blogpost-img">
    <img src="/img/OIP (1).jpg" alt="blogpost-img" />
  </div>

  <section class="blog-content max-width-1 m-auto">
    <div class="blogpost-content max-width-2 m-auto">
      <h1>The Heaven For Bloggers</h1>

      <div class="blog-tray">
        <div class="first-blog-content blogs-content">
          <h2>
            Scientists Warn of A “Friendship Recession” — I’m Part of It
          </h2>
          <span>And the 11–3–6 rule that might help</span>
          <div class="social">
            <div class="social-author">
              Author - <span>Kavya Prasad</span>
            </div>
            <div class="social-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M20 5.34c-.67.41-1.4.7-2.18.87a3.45 3.45 0 0 0-5.02-.1 3.49 3.49 0 0 0-1.02 2.47c0 .28.03.54.07.8a9.91 9.91 0 0 1-7.17-3.66 3.9 3.9 0 0 0-.5 1.74 3.6 3.6 0 0 0 1.56 2.92 3.36 3.36 0 0 1-1.55-.44V10c0 1.67 1.2 3.08 2.8 3.42-.3.06-.6.1-.94.12l-.62-.06a3.5 3.5 0 0 0 3.24 2.43 7.34 7.34 0 0 1-4.36 1.49l-.81-.05a9.96 9.96 0 0 0 5.36 1.56c6.4 0 9.91-5.32 9.9-9.9v-.5c.69-.49 1.28-1.1 1.74-1.81-.63.3-1.3.48-2 .56A3.33 3.33 0 0 0 20 5.33"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M19.75 12.04c0-4.3-3.47-7.79-7.75-7.79a7.77 7.77 0 0 0-5.9 12.84 7.77 7.77 0 0 0 4.69 2.63v-5.49h-1.9v-2.2h1.9v-1.62c0-1.88 1.14-2.9 2.8-2.9.8 0 1.49.06 1.69.08v1.97h-1.15c-.91 0-1.1.43-1.1 1.07v1.4h2.17l-.28 2.2h-1.88v5.52a7.77 7.77 0 0 0 6.7-7.71"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M19.75 5.39v13.22a1.14 1.14 0 0 1-1.14 1.14H5.39a1.14 1.14 0 0 1-1.14-1.14V5.39a1.14 1.14 0 0 1 1.14-1.14h13.22a1.14 1.14 0 0 1 1.14 1.14zM8.81 10.18H6.53v7.3H8.8v-7.3zM9 7.67a1.31 1.31 0 0 0-1.3-1.32h-.04a1.32 1.32 0 0 0 0 2.64A1.31 1.31 0 0 0 9 7.71v-.04zm8.46 5.37c0-2.2-1.4-3.05-2.78-3.05a2.6 2.6 0 0 0-2.3 1.18h-.07v-1h-2.14v7.3h2.28V13.6a1.51 1.51 0 0 1 1.36-1.63h.09c.72 0 1.26.45 1.26 1.6v3.91h2.28l.02-4.43z"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.57 14.67c0-.57.13-1.11.38-1.6l.02-.02v-.02l.02-.02c0-.02 0-.02.02-.02.12-.26.3-.52.57-.8L7.78 9v-.02l.01-.02c.44-.41.91-.7 1.44-.85a4.87 4.87 0 0 0-1.19 2.36A5.04 5.04 0 0 0 8 11.6L6.04 13.6c-.19.19-.32.4-.38.65a2 2 0 0 0 0 .9c.08.2.2.4.38.57l1.29 1.31c.27.28.62.42 1.03.42.42 0 .78-.14 1.06-.42l1.23-1.25.79-.78 1.15-1.16c.08-.09.19-.22.28-.4.1-.2.15-.42.15-.67 0-.16-.02-.3-.06-.45l-.02-.02v-.02l-.07-.14s0-.03-.04-.06l-.06-.13-.02-.02c0-.02 0-.03-.02-.05a.6.6 0 0 0-.14-.16l-.48-.5c0-.04.02-.1.04-.15l.06-.12 1.17-1.14.09-.09.56.57c.02.04.08.1.16.18l.05.04.03.06.04.05.03.04.04.06.1.14.02.02c0 .02.01.03.03.04l.1.2v.02c.1.16.2.38.3.68a1 1 0 0 1 .04.25 3.2 3.2 0 0 1 .02 1.33 3.49 3.49 0 0 1-.95 1.87l-.66.67-.97.97-1.56 1.57a3.4 3.4 0 0 1-2.47 1.02c-.97 0-1.8-.34-2.49-1.03l-1.3-1.3a3.55 3.55 0 0 1-1-2.51v-.01h-.02v.02zm5.39-3.43c0-.19.02-.4.07-.63.13-.74.44-1.37.95-1.87l.66-.67.97-.98 1.56-1.56c.68-.69 1.5-1.03 2.47-1.03.97 0 1.8.34 2.48 1.02l1.3 1.32a3.48 3.48 0 0 1 1 2.48c0 .58-.11 1.11-.37 1.6l-.02.02v.02l-.02.04c-.14.27-.35.54-.6.8L16.23 15l-.01.02-.01.02c-.44.42-.92.7-1.43.83a4.55 4.55 0 0 0 1.23-3.52L18 10.38c.18-.21.3-.42.35-.65a2.03 2.03 0 0 0-.01-.9 1.96 1.96 0 0 0-.36-.58l-1.3-1.3a1.49 1.49 0 0 0-1.06-.42c-.42 0-.77.14-1.06.4l-1.2 1.27-.8.8-1.16 1.15c-.08.08-.18.21-.29.4a1.66 1.66 0 0 0-.08 1.12l.02.03v.02l.06.14s.01.03.05.06l.06.13.02.02.01.02.01.02c.05.08.1.13.14.16l.47.5c0 .04-.02.09-.04.15l-.06.12-1.15 1.15-.1.08-.56-.56a2.3 2.3 0 0 0-.18-.19c-.02-.01-.02-.03-.02-.04l-.02-.02a.37.37 0 0 1-.1-.12c-.03-.03-.05-.04-.05-.06l-.1-.15-.02-.02-.02-.04-.08-.17v-.02a5.1 5.1 0 0 1-.28-.69 1.03 1.03 0 0 1-.04-.26c-.06-.23-.1-.46-.1-.7v.01z"
                  fill="#000000"></path>
              </svg>

            </div>
          </div>
          <img src="/img/New Project (3).png" alt="blog-image" srcset="" />
          <p>
            A few weeks ago, I joined a local “comedic acting” class. The
            instructor asked us to introduce ourselves and explain why we were
            there — probably assuming we’d say things like I’ve always wanted
            to be on stage! or I did improv in college and it was fun.
          </p>
          <p class="para">
            But I decided to be honest: “I’m just here because … I need to get
            out of my house,” I admitted. In truth, I would have signed up for
            anything. Comedy class, jewelry-making, naked figure drawing,
            reiki hand-waving, whatever. I just needed to talk to people,
            ideally ones who might eventually learn my name or even compliment
            my shoes. I’m thirsty for friends. It’s embarrassing. I’m far too
            old to be courting acquaintances like some middle school girl at
            Claire’s, harassing strangers for their opinion on $5 earrings.
            But here we are. I thought that being honest about why I was in
            comedy class might make everyone laugh (at me? with me? who knows)
            before they went on to give their normal, theater-related reasons
            for being there. But instead, this is what they said:

            <b>
              “I work remotely and I haven’t seen anybody — and I mean anybody
              — in, like, a week? Or two? So, I signed up for this.” “My wife
              told me I needed to get out and make some friends.” “I’ve been
              having a tough year and I thought doing something like this
              could help with the stress.” “I just moved here recently and
              wanted to meet people.”</b>
          </p>
          <button class="btn1 read">Read More</button>
          <button class="btn1 hide">Read Less</button>
        </div>


        <div class="second-blog-content blogs-content">
          <h2>
            Remote Work Destroyed America's Most Profitable Industry
          </h2>
          <span>How did tech become America's most troubled industry?</span>
          <div class="social">
            <div class="social-author">
              Author - <span>Manisha</span>
            </div>
            <div class="social-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M20 5.34c-.67.41-1.4.7-2.18.87a3.45 3.45 0 0 0-5.02-.1 3.49 3.49 0 0 0-1.02 2.47c0 .28.03.54.07.8a9.91 9.91 0 0 1-7.17-3.66 3.9 3.9 0 0 0-.5 1.74 3.6 3.6 0 0 0 1.56 2.92 3.36 3.36 0 0 1-1.55-.44V10c0 1.67 1.2 3.08 2.8 3.42-.3.06-.6.1-.94.12l-.62-.06a3.5 3.5 0 0 0 3.24 2.43 7.34 7.34 0 0 1-4.36 1.49l-.81-.05a9.96 9.96 0 0 0 5.36 1.56c6.4 0 9.91-5.32 9.9-9.9v-.5c.69-.49 1.28-1.1 1.74-1.81-.63.3-1.3.48-2 .56A3.33 3.33 0 0 0 20 5.33"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M19.75 12.04c0-4.3-3.47-7.79-7.75-7.79a7.77 7.77 0 0 0-5.9 12.84 7.77 7.77 0 0 0 4.69 2.63v-5.49h-1.9v-2.2h1.9v-1.62c0-1.88 1.14-2.9 2.8-2.9.8 0 1.49.06 1.69.08v1.97h-1.15c-.91 0-1.1.43-1.1 1.07v1.4h2.17l-.28 2.2h-1.88v5.52a7.77 7.77 0 0 0 6.7-7.71"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M19.75 5.39v13.22a1.14 1.14 0 0 1-1.14 1.14H5.39a1.14 1.14 0 0 1-1.14-1.14V5.39a1.14 1.14 0 0 1 1.14-1.14h13.22a1.14 1.14 0 0 1 1.14 1.14zM8.81 10.18H6.53v7.3H8.8v-7.3zM9 7.67a1.31 1.31 0 0 0-1.3-1.32h-.04a1.32 1.32 0 0 0 0 2.64A1.31 1.31 0 0 0 9 7.71v-.04zm8.46 5.37c0-2.2-1.4-3.05-2.78-3.05a2.6 2.6 0 0 0-2.3 1.18h-.07v-1h-2.14v7.3h2.28V13.6a1.51 1.51 0 0 1 1.36-1.63h.09c.72 0 1.26.45 1.26 1.6v3.91h2.28l.02-4.43z"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.57 14.67c0-.57.13-1.11.38-1.6l.02-.02v-.02l.02-.02c0-.02 0-.02.02-.02.12-.26.3-.52.57-.8L7.78 9v-.02l.01-.02c.44-.41.91-.7 1.44-.85a4.87 4.87 0 0 0-1.19 2.36A5.04 5.04 0 0 0 8 11.6L6.04 13.6c-.19.19-.32.4-.38.65a2 2 0 0 0 0 .9c.08.2.2.4.38.57l1.29 1.31c.27.28.62.42 1.03.42.42 0 .78-.14 1.06-.42l1.23-1.25.79-.78 1.15-1.16c.08-.09.19-.22.28-.4.1-.2.15-.42.15-.67 0-.16-.02-.3-.06-.45l-.02-.02v-.02l-.07-.14s0-.03-.04-.06l-.06-.13-.02-.02c0-.02 0-.03-.02-.05a.6.6 0 0 0-.14-.16l-.48-.5c0-.04.02-.1.04-.15l.06-.12 1.17-1.14.09-.09.56.57c.02.04.08.1.16.18l.05.04.03.06.04.05.03.04.04.06.1.14.02.02c0 .02.01.03.03.04l.1.2v.02c.1.16.2.38.3.68a1 1 0 0 1 .04.25 3.2 3.2 0 0 1 .02 1.33 3.49 3.49 0 0 1-.95 1.87l-.66.67-.97.97-1.56 1.57a3.4 3.4 0 0 1-2.47 1.02c-.97 0-1.8-.34-2.49-1.03l-1.3-1.3a3.55 3.55 0 0 1-1-2.51v-.01h-.02v.02zm5.39-3.43c0-.19.02-.4.07-.63.13-.74.44-1.37.95-1.87l.66-.67.97-.98 1.56-1.56c.68-.69 1.5-1.03 2.47-1.03.97 0 1.8.34 2.48 1.02l1.3 1.32a3.48 3.48 0 0 1 1 2.48c0 .58-.11 1.11-.37 1.6l-.02.02v.02l-.02.04c-.14.27-.35.54-.6.8L16.23 15l-.01.02-.01.02c-.44.42-.92.7-1.43.83a4.55 4.55 0 0 0 1.23-3.52L18 10.38c.18-.21.3-.42.35-.65a2.03 2.03 0 0 0-.01-.9 1.96 1.96 0 0 0-.36-.58l-1.3-1.3a1.49 1.49 0 0 0-1.06-.42c-.42 0-.77.14-1.06.4l-1.2 1.27-.8.8-1.16 1.15c-.08.08-.18.21-.29.4a1.66 1.66 0 0 0-.08 1.12l.02.03v.02l.06.14s.01.03.05.06l.06.13.02.02.01.02.01.02c.05.08.1.13.14.16l.47.5c0 .04-.02.09-.04.15l-.06.12-1.15 1.15-.1.08-.56-.56a2.3 2.3 0 0 0-.18-.19c-.02-.01-.02-.03-.02-.04l-.02-.02a.37.37 0 0 1-.1-.12c-.03-.03-.05-.04-.05-.06l-.1-.15-.02-.02-.02-.04-.08-.17v-.02a5.1 5.1 0 0 1-.28-.69 1.03 1.03 0 0 1-.04-.26c-.06-.23-.1-.46-.1-.7v.01z"
                  fill="#000000"></path>
              </svg>

            </div>
          </div>
          <img src="/img/New Project (4).png" alt="blog-image" srcset="" />
          <p>
            In the last few months, you witnessed the collapse of America's most profitable industry, the tech industry.
            The tech industry is crumbling, and if you work in it. You better get your resume ready. According to the
            Layoffs tracker, more than 158,951 people lost their jobs in 2022, and at least 56,570 employees were laid
            off in the first three weeks of 2023.
          </p>
          <p class="para">
            Companies that allow remote work are struggling more than others. For example, When Elon Musk took over
            Twitter, the company was considered one of the laxest companies about remote work. However, Twitter was
            losing $4 million daily. Then Elon Musk took over and asked employees to show up at the office. As a result,
            Twitter has been more innovative in the last three months than in the previous three years.

            10% of employees do most of the work
            Musk understands that about 10% of remote workers produce 50% of Twitter's results.

            His views are confirmed by Jordan Peterson and by a law called Price's Law. The law states that 50% of the
            work is done by the square root of the total number of people who participate in the work. So, if you have
            100 people doing any job, 10% of them produce more than 50% of the results. So, companies that want to
            survive in the coming few years should be flexible with the top 10% and offer less flexibility with the
            rest.
          </p>
          <button class="btn1 read">Read More</button>

        </div>



        <div class="third-blog-content blogs-content">
          <h2>
            The maze is in the mouse
          </h2>
          <span>What ails Google. And how it can turn things around.</span>
          <div class="social">
            <div class="social-author">
              Author - <span>Alisha jaiswal</span>
            </div>
            <div class="social-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M20 5.34c-.67.41-1.4.7-2.18.87a3.45 3.45 0 0 0-5.02-.1 3.49 3.49 0 0 0-1.02 2.47c0 .28.03.54.07.8a9.91 9.91 0 0 1-7.17-3.66 3.9 3.9 0 0 0-.5 1.74 3.6 3.6 0 0 0 1.56 2.92 3.36 3.36 0 0 1-1.55-.44V10c0 1.67 1.2 3.08 2.8 3.42-.3.06-.6.1-.94.12l-.62-.06a3.5 3.5 0 0 0 3.24 2.43 7.34 7.34 0 0 1-4.36 1.49l-.81-.05a9.96 9.96 0 0 0 5.36 1.56c6.4 0 9.91-5.32 9.9-9.9v-.5c.69-.49 1.28-1.1 1.74-1.81-.63.3-1.3.48-2 .56A3.33 3.33 0 0 0 20 5.33"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M19.75 12.04c0-4.3-3.47-7.79-7.75-7.79a7.77 7.77 0 0 0-5.9 12.84 7.77 7.77 0 0 0 4.69 2.63v-5.49h-1.9v-2.2h1.9v-1.62c0-1.88 1.14-2.9 2.8-2.9.8 0 1.49.06 1.69.08v1.97h-1.15c-.91 0-1.1.43-1.1 1.07v1.4h2.17l-.28 2.2h-1.88v5.52a7.77 7.77 0 0 0 6.7-7.71"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M19.75 5.39v13.22a1.14 1.14 0 0 1-1.14 1.14H5.39a1.14 1.14 0 0 1-1.14-1.14V5.39a1.14 1.14 0 0 1 1.14-1.14h13.22a1.14 1.14 0 0 1 1.14 1.14zM8.81 10.18H6.53v7.3H8.8v-7.3zM9 7.67a1.31 1.31 0 0 0-1.3-1.32h-.04a1.32 1.32 0 0 0 0 2.64A1.31 1.31 0 0 0 9 7.71v-.04zm8.46 5.37c0-2.2-1.4-3.05-2.78-3.05a2.6 2.6 0 0 0-2.3 1.18h-.07v-1h-2.14v7.3h2.28V13.6a1.51 1.51 0 0 1 1.36-1.63h.09c.72 0 1.26.45 1.26 1.6v3.91h2.28l.02-4.43z"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.57 14.67c0-.57.13-1.11.38-1.6l.02-.02v-.02l.02-.02c0-.02 0-.02.02-.02.12-.26.3-.52.57-.8L7.78 9v-.02l.01-.02c.44-.41.91-.7 1.44-.85a4.87 4.87 0 0 0-1.19 2.36A5.04 5.04 0 0 0 8 11.6L6.04 13.6c-.19.19-.32.4-.38.65a2 2 0 0 0 0 .9c.08.2.2.4.38.57l1.29 1.31c.27.28.62.42 1.03.42.42 0 .78-.14 1.06-.42l1.23-1.25.79-.78 1.15-1.16c.08-.09.19-.22.28-.4.1-.2.15-.42.15-.67 0-.16-.02-.3-.06-.45l-.02-.02v-.02l-.07-.14s0-.03-.04-.06l-.06-.13-.02-.02c0-.02 0-.03-.02-.05a.6.6 0 0 0-.14-.16l-.48-.5c0-.04.02-.1.04-.15l.06-.12 1.17-1.14.09-.09.56.57c.02.04.08.1.16.18l.05.04.03.06.04.05.03.04.04.06.1.14.02.02c0 .02.01.03.03.04l.1.2v.02c.1.16.2.38.3.68a1 1 0 0 1 .04.25 3.2 3.2 0 0 1 .02 1.33 3.49 3.49 0 0 1-.95 1.87l-.66.67-.97.97-1.56 1.57a3.4 3.4 0 0 1-2.47 1.02c-.97 0-1.8-.34-2.49-1.03l-1.3-1.3a3.55 3.55 0 0 1-1-2.51v-.01h-.02v.02zm5.39-3.43c0-.19.02-.4.07-.63.13-.74.44-1.37.95-1.87l.66-.67.97-.98 1.56-1.56c.68-.69 1.5-1.03 2.47-1.03.97 0 1.8.34 2.48 1.02l1.3 1.32a3.48 3.48 0 0 1 1 2.48c0 .58-.11 1.11-.37 1.6l-.02.02v.02l-.02.04c-.14.27-.35.54-.6.8L16.23 15l-.01.02-.01.02c-.44.42-.92.7-1.43.83a4.55 4.55 0 0 0 1.23-3.52L18 10.38c.18-.21.3-.42.35-.65a2.03 2.03 0 0 0-.01-.9 1.96 1.96 0 0 0-.36-.58l-1.3-1.3a1.49 1.49 0 0 0-1.06-.42c-.42 0-.77.14-1.06.4l-1.2 1.27-.8.8-1.16 1.15c-.08.08-.18.21-.29.4a1.66 1.66 0 0 0-.08 1.12l.02.03v.02l.06.14s.01.03.05.06l.06.13.02.02.01.02.01.02c.05.08.1.13.14.16l.47.5c0 .04-.02.09-.04.15l-.06.12-1.15 1.15-.1.08-.56-.56a2.3 2.3 0 0 0-.18-.19c-.02-.01-.02-.03-.02-.04l-.02-.02a.37.37 0 0 1-.1-.12c-.03-.03-.05-.04-.05-.06l-.1-.15-.02-.02-.02-.04-.08-.17v-.02a5.1 5.1 0 0 1-.28-.69 1.03 1.03 0 0 1-.04-.26c-.06-.23-.1-.46-.1-.7v.01z"
                  fill="#000000"></path>
              </svg>

            </div>
          </div>
          <img src="/img/New Project (1).png" alt="blog-image" srcset="" />
          <p>
            <b>“There must be some way out of here, said the joker to the thief
              There’s too much confusion, I can’t get no relief”</b>
          </p>
          <p class="para">
            I joined Google just before the pandemic when the company I had co-founded, AppSheet, was acquired by Google
            Cloud. The acquiring team and executives welcomed us and treated us well. We joined with great enthusiasm
            and commitment to integrate AppSheet into Google and make it a success. Yet, now at the expiry of my three
            year mandatory retention period, I have left Google understanding how a once-great company has slowly ceased
            to function.

            Google has 175,000+ capable and well-compensated employees who get very little done quarter over quarter,
            year over year. Like mice, they are trapped in a maze of approvals, launch processes, legal reviews,
            performance reviews, exec reviews, documents, meetings, bug reports, triage, OKRs, H1 plans followed by H2
            plans, all-hands summits, and inevitable reorgs. The mice are regularly fed their “cheese” (promotions,
            bonuses, fancy food, fancier perks) and despite many wanting to experience personal satisfaction and impact
            from their work, the system trains them to quell these inappropriate desires and learn what it actually
            means to be “Googley” — just don’t rock the boat. As Deepak Malhotra put it in his excellent business fable,
            at some point the problem is no longer that the mouse is in a maze. The problem is that “the maze is in the
            mouse”.
          </p>
          <button class="btn1 read">Read More</button>

        </div>



        <div class="fourth-blog-content blogs-content">
          <h2>
            The Secret of Getting Good Is Not Focusing on How Good I’m Getting
          </h2>
          <span>It’s paying attention to what I’m actually doing</span>

          <div class="social">
            <div class="social-author">
              Author - <span>Sirsha majumder</span>
            </div>
            <div class="social-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M20 5.34c-.67.41-1.4.7-2.18.87a3.45 3.45 0 0 0-5.02-.1 3.49 3.49 0 0 0-1.02 2.47c0 .28.03.54.07.8a9.91 9.91 0 0 1-7.17-3.66 3.9 3.9 0 0 0-.5 1.74 3.6 3.6 0 0 0 1.56 2.92 3.36 3.36 0 0 1-1.55-.44V10c0 1.67 1.2 3.08 2.8 3.42-.3.06-.6.1-.94.12l-.62-.06a3.5 3.5 0 0 0 3.24 2.43 7.34 7.34 0 0 1-4.36 1.49l-.81-.05a9.96 9.96 0 0 0 5.36 1.56c6.4 0 9.91-5.32 9.9-9.9v-.5c.69-.49 1.28-1.1 1.74-1.81-.63.3-1.3.48-2 .56A3.33 3.33 0 0 0 20 5.33"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M19.75 12.04c0-4.3-3.47-7.79-7.75-7.79a7.77 7.77 0 0 0-5.9 12.84 7.77 7.77 0 0 0 4.69 2.63v-5.49h-1.9v-2.2h1.9v-1.62c0-1.88 1.14-2.9 2.8-2.9.8 0 1.49.06 1.69.08v1.97h-1.15c-.91 0-1.1.43-1.1 1.07v1.4h2.17l-.28 2.2h-1.88v5.52a7.77 7.77 0 0 0 6.7-7.71"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path
                  d="M19.75 5.39v13.22a1.14 1.14 0 0 1-1.14 1.14H5.39a1.14 1.14 0 0 1-1.14-1.14V5.39a1.14 1.14 0 0 1 1.14-1.14h13.22a1.14 1.14 0 0 1 1.14 1.14zM8.81 10.18H6.53v7.3H8.8v-7.3zM9 7.67a1.31 1.31 0 0 0-1.3-1.32h-.04a1.32 1.32 0 0 0 0 2.64A1.31 1.31 0 0 0 9 7.71v-.04zm8.46 5.37c0-2.2-1.4-3.05-2.78-3.05a2.6 2.6 0 0 0-2.3 1.18h-.07v-1h-2.14v7.3h2.28V13.6a1.51 1.51 0 0 1 1.36-1.63h.09c.72 0 1.26.45 1.26 1.6v3.91h2.28l.02-4.43z"
                  fill="#000000"></path>
              </svg>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3.57 14.67c0-.57.13-1.11.38-1.6l.02-.02v-.02l.02-.02c0-.02 0-.02.02-.02.12-.26.3-.52.57-.8L7.78 9v-.02l.01-.02c.44-.41.91-.7 1.44-.85a4.87 4.87 0 0 0-1.19 2.36A5.04 5.04 0 0 0 8 11.6L6.04 13.6c-.19.19-.32.4-.38.65a2 2 0 0 0 0 .9c.08.2.2.4.38.57l1.29 1.31c.27.28.62.42 1.03.42.42 0 .78-.14 1.06-.42l1.23-1.25.79-.78 1.15-1.16c.08-.09.19-.22.28-.4.1-.2.15-.42.15-.67 0-.16-.02-.3-.06-.45l-.02-.02v-.02l-.07-.14s0-.03-.04-.06l-.06-.13-.02-.02c0-.02 0-.03-.02-.05a.6.6 0 0 0-.14-.16l-.48-.5c0-.04.02-.1.04-.15l.06-.12 1.17-1.14.09-.09.56.57c.02.04.08.1.16.18l.05.04.03.06.04.05.03.04.04.06.1.14.02.02c0 .02.01.03.03.04l.1.2v.02c.1.16.2.38.3.68a1 1 0 0 1 .04.25 3.2 3.2 0 0 1 .02 1.33 3.49 3.49 0 0 1-.95 1.87l-.66.67-.97.97-1.56 1.57a3.4 3.4 0 0 1-2.47 1.02c-.97 0-1.8-.34-2.49-1.03l-1.3-1.3a3.55 3.55 0 0 1-1-2.51v-.01h-.02v.02zm5.39-3.43c0-.19.02-.4.07-.63.13-.74.44-1.37.95-1.87l.66-.67.97-.98 1.56-1.56c.68-.69 1.5-1.03 2.47-1.03.97 0 1.8.34 2.48 1.02l1.3 1.32a3.48 3.48 0 0 1 1 2.48c0 .58-.11 1.11-.37 1.6l-.02.02v.02l-.02.04c-.14.27-.35.54-.6.8L16.23 15l-.01.02-.01.02c-.44.42-.92.7-1.43.83a4.55 4.55 0 0 0 1.23-3.52L18 10.38c.18-.21.3-.42.35-.65a2.03 2.03 0 0 0-.01-.9 1.96 1.96 0 0 0-.36-.58l-1.3-1.3a1.49 1.49 0 0 0-1.06-.42c-.42 0-.77.14-1.06.4l-1.2 1.27-.8.8-1.16 1.15c-.08.08-.18.21-.29.4a1.66 1.66 0 0 0-.08 1.12l.02.03v.02l.06.14s.01.03.05.06l.06.13.02.02.01.02.01.02c.05.08.1.13.14.16l.47.5c0 .04-.02.09-.04.15l-.06.12-1.15 1.15-.1.08-.56-.56a2.3 2.3 0 0 0-.18-.19c-.02-.01-.02-.03-.02-.04l-.02-.02a.37.37 0 0 1-.1-.12c-.03-.03-.05-.04-.05-.06l-.1-.15-.02-.02-.02-.04-.08-.17v-.02a5.1 5.1 0 0 1-.28-.69 1.03 1.03 0 0 1-.04-.26c-.06-.23-.1-.46-.1-.7v.01z"
                  fill="#000000"></path>
              </svg>

            </div>
          </div>
          <img src="/img/New Project (2).png" alt="blog-image" srcset="" />
          <p>
            I’ve started noticing the astonishing extent to which I’m busy worrying about how well I am doing instead of
            focusing on the task at hand.Not to brag, but I can distract myself with angst-ridden self-evaluation while
            doing almost anything, including but not limited to, writing cartoons, playing guitar, doing improv, fixing
            the toilet, ordering dinner, and even talking to my closest friends. I’ve been like this for as long as I
            can remember.
          </p>
          <p class="para">
            Not only is it perpetually exhausting, but it prevents me from giving my full attention to what I’m actually
            doing. This, of course, impedes my progress, further rubbing my face in the lack of achievement that I’m
            already panicked about which, in turn, gives me even less focus.One particularly interesting place I’ve
            noticed this is in my healing work.Lately, my therapy has involved learning to tolerate my feelings enough
            to explore what’s actually going on inside me. One of the things I found as I poked around in there is that
            I am constantly measuring myself. I’ve always done this, but never realized how relentless and distracting
            it was.Having already spent decades discrediting my false narratives of worthlessness, I am now able to see
            the feelings that spawned them for the childhood vestige they are. Without continuously getting sucked down
            into the rabbit hole of self-doubt, I am better able to simply watch where my attention is and isn’t, and it
            is naturally shifting to where I want it to be! Finally, I’m finding access to the world of focus,
            immersion, discovery, experience, and fun waiting to be ripped open and enjoyed.
          </p>
          <button class="btn1 read">Read More</button>
        </div>
      </div>

      <div class="max-width-1 m-auto">
      </div>
  </section>

  <hr class="blog-content-hr max-width-1 m-auto" />
  <section class="articles">
    <div class="articles max-width-1 m-auto">
      <h2 class="headings-font">People read this also read</h2>
      <div class="main-article">
        <div class="left-article">
          <div class="article">
            <div class="article-img">
              <img src="/img/comp.png" alt="article image" />
            </div>
            <div class="article-content">
              <a href="/blog.html">
                <h5>
                  UX lessons from a poet who invented social media in the 18th
                  century.
                </h5>
              </a>
              <div class="author">Slava Polonski</div>
              <span>07<sup>th</sup> january | 10 mins reading</span>
            </div>
          </div>
          <div class="article">
            <div class="article-img">
              <img src="/img/que.png" alt="article image" />
            </div>
            <div class="article-content">
              <a href="/blog.html">
                <h5>
                  The problem-solver’s playbook: 17 questions to sharpen your
                  thinking.
                </h5>
              </a>
              <div class="author">Debbie Widjaja</div>
              <span>07<sup>th</sup> january | 10 mins reading</span>
            </div>
          </div>
          <div class="article">
            <div class="article-img">
              <img src="/img/gpt.png" alt="article image" />
            </div>
            <div class="article-content">
              <a href="/blog.html">
                <h5>
                  ChatGPT in an iOS Shortcut — Worlds Smartest HomeKit Voice
                  Assistant.
                </h5>
              </a>
              <div class="author">Mate Marschalko</div>
              <span>07<sup>th</sup> january | 10 mins reading</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{>footer}}



       <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/e097feabdb.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/JS/main.js"></script>
    <!-- AOS Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
