<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/utils.css" />
    <link rel="stylesheet" href="CSS/index.css" />
    <link rel="stylesheet" href="CSS/contact.css" />
    <link rel="stylesheet" href="CSS/bootstrap.css" />
    <link rel="stylesheet" href="CSS/responsive.css" />

    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Blog Website</title>
  </head>

  <body>
    {{>nav}}
    

    <section class="content max-width-2 m-auto">
      <div class="content-left">
        <div data-aos="fade-right" data-aos-duration="3000">
          <h2>A living network of curious minds.</h2>
          <p>
            Anyone can write on Daily Dose. Thought-leaders, journalists,
            experts, and individuals with unique perspectives share their
            thinking here. You’ll find pieces by independent writers from around
            the globe, stories we feature and leading authors, and smart takes
            on our own suite of blogs and publications.
          </p>
        </div>
      </div>
      <div class="content-right">
        <div data-aos="fade-left" data-aos-duration="3000">
          <img src="/img/Typewriter.svg" alt="Typewriter" id="Content-image" />
        </div>
      </div>
    </section>

    <div class="max-width-1 m-auto">
      <hr />
    </div>
    <section class="articles">
      <div class="articles max-width-1 m-auto">
        <div data-aos="zoom-in" data-aos-duration="3000">
          <h2 class="headings-font">Featured Articles</h2>
        </div>
        <div class="main-article">
          <div class="left-article">
            <div class="article">
              <div data-aos="fade-up" data-aos-duration="600" class="fade_up">
                <div class="article-img">
                  <img src="/img/sanjay.png" alt="article image" />
                </div>
                <div class="article-content">
                  <a href="/blog.html">
                    <h5>
                      The Alternative to Performance Reviews for Software
                      Engineers
                    </h5>
                  </a>
                  <div class="author">
                    <img src="/img/sanjay.png" alt="author image" />Sanjay Dutt
                  </div>
                  <span
                    >27<sup>th</sup> august | 10 mins reading

                    <svg
                      width="25"
                      height="25"
                      viewBox="0 0 25 25"
                      fill="none"
                      class="mf"
                    >
                      <path
                        d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                        fill="#000000"
                      ></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <div class="article">
              <div data-aos="fade-up" data-aos-duration="1200" class="fade_up">
                <div class="article-img">
                  <img src="/img/mildlife.png" alt="article image" />
                </div>
                <div class="article-content">
                  <a href="/blog.html">
                    <h5>How to Weather the ‘Midlife Happiness Dip’.</h5>
                  </a>
                  <div class="author">
                    <img src="/img/sample3.jpeg" alt="author image" />Kavya
                    Prasad
                  </div>
                  <span
                    >05<sup>th</sup> september | 3 mins reading
                    <svg
                      width="25"
                      height="25"
                      viewBox="0 0 25 25"
                      fill="none"
                      class="mf"
                    >
                      <path
                        d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                        fill="#000000"
                      ></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <div class="article">
              <div data-aos="fade-up" data-aos-duration="1800" class="fade_up">
                <div class="article-img">
                  <img src="/img/sci.png" alt="article image" />
                </div>
                <div class="article-content">
                  <a href="/blog.html">
                    <h5>
                      Scientists Warn of A “Friendship Recession” — I’m Part of
                      It.
                    </h5>
                  </a>
                  <div class="author">
                    <img src="/img/sample5.jpeg" alt="author image" />Alisha
                    Jaiswal
                  </div>
                  <span
                    >07<sup>th</sup> february | 12 mins reading
                    <svg
                      width="25"
                      height="25"
                      viewBox="0 0 25 25"
                      fill="none"
                      class="mf"
                    >
                      <path
                        d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                        fill="#000000"
                      ></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <div class="article">
              <div data-aos="fade-up" data-aos-duration="2400" class="fade_up">
                <div class="article-img">
                  <img src="/img/chat.png" alt="article image" />
                </div>
                <div class="article-content">
                  <a href="/blog.html">
                    <h5>ChatGPT: Automatic expensive BS at scale.</h5>
                  </a>
                  <div class="author">
                    <img src="/img/sample4.jpeg" alt="author image" />Colin
                    Fraser
                  </div>
                  <span
                    >19<sup>th</sup> october | 5 mins reading
                    <svg
                      width="25"
                      height="25"
                      viewBox="0 0 25 25"
                      fill="none"
                      class="mf"
                    >
                      <path
                        d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                        fill="#000000"
                      ></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <div class="article">
              <div data-aos="fade-up" data-aos-duration="3000" class="fade_up">
                <div class="article-img">
                  <img src="/img/articles.jpg" alt="article image" />
                </div>
                <div class="article-content">
                  <a href="/blog.html">
                    <h5>
                      Good Bot Design Means Never Having to Say: ‘I’m sorry, I
                      didn’t get that’.
                    </h5>
                  </a>
                  <div class="author">
                    <img src="/img/sample3.jpeg" alt="author image" />Kavya Iyer
                  </div>
                  <span
                    >25<sup>th</sup> november | 10 mins reading
                    <svg
                      width="25"
                      height="25"
                      viewBox="0 0 25 25"
                      fill="none"
                      class="mf"
                    >
                      <path
                        d="M18 2.5a.5.5 0 0 1 1 0V5h2.5a.5.5 0 0 1 0 1H19v2.5a.5.5 0 1 1-1 0V6h-2.5a.5.5 0 0 1 0-1H18V2.5zM7 7a1 1 0 0 1 1-1h3.5a.5.5 0 0 0 0-1H8a2 2 0 0 0-2 2v14a.5.5 0 0 0 .8.4l5.7-4.4 5.7 4.4a.5.5 0 0 0 .8-.4v-8.5a.5.5 0 0 0-1 0v7.48l-5.2-4a.5.5 0 0 0-.6 0l-5.2 4V7z"
                        fill="#000000"
                      ></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="right-article">
            <a href="/blog.html">
              <img
                src="/img/295_generated.jpg"
                alt="article image"
                srcset=""
                id="right-article-1"
              />
            </a>
            <a href="/blog.html">
              <img
                src="/img/blog.jpg"
                alt="article image"
                srcset=""
                id="right-article-2"
              />
            </a>

            <a href="/blog.html">
              <img
                src="/img/Building_BLOG_generated.jpg"
                alt="article image"
                srcset=""
                id="right-article-3"
              />
            </a>
          </div>
        </div>
      </div>
    </section>

     {{>footer}}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/e097feabdb.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/JS/main.js"></script>
    <!-- AOS Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
