<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="CSS/utils.css" />
    <link rel="stylesheet" href="CSS/about.css" />
    <link rel="stylesheet" href="/CSS/contact.css" />
    <link rel="stylesheet" href="/CSS/bootstrap.css" />
    <link rel="stylesheet" href="/CSS/index.css" />
    <link rel="stylesheet" href="/CSS/login_reg.css" />
    <link rel="stylesheet" href="/CSS/responsive.css" />
    <link rel="stylesheet" href="/CSS/search.css" />
    <link rel="stylesheet" href="/CSS/blog.css" />

    <!-- AOS CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Blog Website</title>
  </head>

  <body>
    {{>nav}}

        <section class="articles">
      <div class="articles max-width-1 m-auto">
        <h2 class="headings-font">Search result in (0.3s)</h2>
        <div class="main-article">
          <div class="search-left-article">
            <div class="article">
              <div class="article-img">
                <img src="/img/frnds.png" alt="article image" />
              </div>
              <div class="search-article-content">
                <a href="/blogs"
                  ><h5>
                    My Autistic Self Has Friends, but My ADHD Self Is Lonely
                  </h5></a
                >
                <div class="author">
                  <img src="/img/sample2.png" alt="article image" />
                  Helen Olivier</div>
                <span>05<sup>th</sup> march | 7 mins reading</span>
              </div>
            </div>
            <div class="article">
              <div class="article-img">
                <img src="/img/drawin.png" alt="article image" />
              </div>
              <div class="search-article-content">
                <a href="/blogs"
                  ><h5>
                    The Darwin Effect: How Evolution Can Guide Your Success
                  </h5></a
                >
                <div class="author">
                  <img src="/img/sample2.png" alt="article image" />
                  Steven C. Hayes
                  <svg width="16" height="16" viewBox="0 0 20 20" fill="none"><path d="M12.4 12.77l-1.81 4.99a.63.63 0 0 1-1.18 0l-1.8-4.99a.63.63 0 0 0-.38-.37l-4.99-1.81a.62.62 0 0 1 0-1.18l4.99-1.8a.63.63 0 0 0 .37-.38l1.81-4.99a.63.63 0 0 1 1.18 0l1.8 4.99a.63.63 0 0 0 .38.37l4.99 1.81a.63.63 0 0 1 0 1.18l-4.99 1.8a.63.63 0 0 0-.37.38z" fill="#FFC017"></path></svg></div>
                <span>13<sup>th</sup> january | 10 mins reading</span>
              </div>
            </div>
            <div class="article">
              <div class="article-img">
                <img src="/img/software.png" alt="article image" />
              </div>
              <div class="search-article-content">
                <a href="/blogs"
                  ><h5>
                    Software accessibility for users with Attention Deficit Disorder (ADHD)
                  </h5></a
                >
                <div class="author">
                  <img src="/img/sample4.jpeg" alt="article image" />
                  Eva Katharina</div>
                <span>30<sup>th</sup> april | 17 mins reading</span>
              </div>
            </div>
            <div class="article">
              <div class="article-img">
                <img src="/img/investor.png" alt="article image" />
              </div>
              <div class="search-article-content">
                <a href="/blogs"
                  ><h5>
                    The Pros and Cons of Asking Investors to Sign Your NDA
                  </h5></a
                >
                <div class="author">
                  <img src="/img/sample1.jpg" alt="article image" />
                  Aaron Dinin
                  <svg width="16" height="16" viewBox="0 0 20 20" fill="none"><path d="M12.4 12.77l-1.81 4.99a.63.63 0 0 1-1.18 0l-1.8-4.99a.63.63 0 0 0-.38-.37l-4.99-1.81a.62.62 0 0 1 0-1.18l4.99-1.8a.63.63 0 0 0 .37-.38l1.81-4.99a.63.63 0 0 1 1.18 0l1.8 4.99a.63.63 0 0 0 .38.37l4.99 1.81a.63.63 0 0 1 0 1.18l-4.99 1.8a.63.63 0 0 0-.37.38z" fill="#FFC017"></path></svg></div>
                <span>16<sup>th</sup> december | 3 mins reading</span>
              </div>
            </div>
            <div class="article">
              <div class="article-img">
                <img src="/img/think.png" alt="article image" />
              </div>
              <div class="search-article-content">
                <a href="/blogs"
                  ><h5>
                    You Don’t Always Get What You THINK You Want
                  </h5></a
                >
                <div class="author">
                  <img src="/img/sample2.png" alt="article image" />
                  Rebecca Levy-Gantt
                </div>
                <span>17<sup>th</sup> may | 9 mins reading</span>
              </div>
            </div>
          </div>
        </div>
        <div class="m-auto"><hr /></div>

        <div class="trending">
          <div class="trending-logo">
            <svg
              width="28"
              height="29"
              viewBox="0 0 28 29"
              fill="none"
              class="ih y">
              <path fill="#fff" d="M0 .8h28v28H0z"></path>
              <g opacity="0.8" clip-path="url(#trending_svg__clip0)">
                <path fill="#fff" d="M4 4.8h20v20H4z"></path>
                <circle cx="14" cy="14.79" r="9.5" stroke="#000"></circle>
                <path
                  d="M5.46 18.36l4.47-4.48M9.97 13.87l3.67 3.66M13.67 17.53l5.1-5.09M16.62 11.6h3M19.62 11.6v3"
                  stroke="#000"
                  stroke-linecap="round"
                ></path>
              </g>
              <defs>
                <clipPath id="trending_svg__clip0">
                  <path
                    fill="#fff"
                    transform="translate(4 4.8)"
                    d="M0 0h20v20H0z"
                  ></path>
                </clipPath>
              </defs>
            </svg>
            <h5>Trending on Daily Dose</h5>
          </div>

          <div class="trending-container">
            <div class="trending-content">
              <div class="trending-first-half">
                <div class="trending-post">
                  <span><h1>01</h1></span>
                  <div class="trending-txt-container">
                    <div class="author-name">
                      <img src="/img/sanjay.png" alt="author image" /> Sanjay Dutt
                      
                    </div>
                    <div class="trending-txt">
                      <b> The maze is in the mouse</b>
                    </div>
                    <span class="trending-dates">Feb 14 . 15 min read</span>
                  </div>
                </div>

                <div class="trending-post">
                  <span><h1>02</h1></span>
                  <div class="trending-txt-container">
                    <div class="author-name">
                      <img src="/img/sample6.png" alt="author image" /> Mujahid Ali Ansari
                    </div>
                    <div class="trending-txt">
                      <b> There is a crack in everything
                      </b>
                    </div>
                    <span class="trending-dates">Feb 20 . 4 min read <svg width="16" height="16" viewBox="0 0 20 20" fill="none"><path d="M12.4 12.77l-1.81 4.99a.63.63 0 0 1-1.18 0l-1.8-4.99a.63.63 0 0 0-.38-.37l-4.99-1.81a.62.62 0 0 1 0-1.18l4.99-1.8a.63.63 0 0 0 .37-.38l1.81-4.99a.63.63 0 0 1 1.18 0l1.8 4.99a.63.63 0 0 0 .38.37l4.99 1.81a.63.63 0 0 1 0 1.18l-4.99 1.8a.63.63 0 0 0-.37.38z" fill="#FFC017"></path></svg>
                      </span>
                  </div>
                </div>

                <div class="trending-post">
                  <span><h1>03</h1></span>
                  <div class="trending-txt-container">
                    <div class="author-name">
                      <img src="/img/sample3.jpeg" alt="author image" /> Sirsha majumder
                    </div>
                    <div class="trending-txt">
                      <b>I am a bad software developer and this is my life</b>
                    </div>
                    <span class="trending-dates">Feb 14 . 5 min read
                      </span>
                  </div>
                </div>
              </div>

              <div class="trending-second-half">
                <div class="trending-post">
                  <span><h1>04</h1></span>
                  <div class="trending-txt-container">
                    <div class="author-name">
                      <img src="/img/sample2.png" alt="author image" /> Sonu Routh
                    </div>
                    <div class="trending-txt">
                      <b> Ukraine War, 19 February 2023: Bakhmut
                      </b>
                    </div>
                    <span class="trending-dates">Feb 19 . 3 min read</span>
                  </div>
                </div>

                <div class="trending-post">
                  <span><h1>05</h1></span>
                  <div class="trending-txt-container">
                    <div class="author-name">
                      <img src="/img/sample4.jpeg" alt="author image" /> Ashutosh Kumar Yadav
                    </div>
                    <div class="trending-txt">
                      <b>The age of Agile must end</b>
                    </div>
                    <span class="trending-dates">Feb 12 . 8 min read <svg width="16" height="16" viewBox="0 0 20 20" fill="none"><path d="M12.4 12.77l-1.81 4.99a.63.63 0 0 1-1.18 0l-1.8-4.99a.63.63 0 0 0-.38-.37l-4.99-1.81a.62.62 0 0 1 0-1.18l4.99-1.8a.63.63 0 0 0 .37-.38l1.81-4.99a.63.63 0 0 1 1.18 0l1.8 4.99a.63.63 0 0 0 .38.37l4.99 1.81a.63.63 0 0 1 0 1.18l-4.99 1.8a.63.63 0 0 0-.37.38z" fill="#FFC017"></path></svg>

                    </span>
                  </div>
                </div>

                <div class="trending-post">
                  <span><h1>06</h1></span>
                  <div class="trending-txt-container">
                    <div class="author-name">
                      <img src="/img/bear.png" alt="author image" /> Shahil Chourasia
                    </div>
                    <div class="trending-txt">
                      <b>You Are Not Okay and Tomorrow Will Come</b>
                    </div>
                    <span class="trending-dates">Feb 9 . 3 min read
                      
                      </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
     {{>footer}}



       <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://kit.fontawesome.com/e097feabdb.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/JS/main.js"></script>
    <!-- AOS Script -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
