
.log_reg {
  position: relative;
  min-height: 100vh;
  background-color: #f8dd30;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.log_reg .container9 {
  position: relative;
  width: 800px;
  height: 600px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.log_reg .container9 .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.log_reg .container9 .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

.log_reg .container9 .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.log_reg .container9 .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

.log_reg .container9 .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.log_reg .container9 .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

.log_reg .container9 .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

.log_reg .container9 .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

.log_reg .container9 .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

.log_reg .container9 .signupBx {
  pointer-events: none;
}

.log_reg .container9.active .signupBx {
  pointer-events: initial;
}

.log_reg .container9 .signupBx .formBx {
  left: 100%;
}

.log_reg .container9.active .signupBx .formBx {
  left: 0;
}

.log_reg .container9 .signupBx .imgBx {
  left: -100%;
}

.log_reg .container9.active .signupBx .imgBx {
  left: 0%;
}

.log_reg .container9 .signinBx .formBx {
  left: 0%;
}

.log_reg .container9.active .signinBx .formBx {
  left: 100%;
}

.log_reg .container9 .signinBx .imgBx {
  left: 0%;
}

.log_reg .container9.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  .log_reg .container9 {
    max-width: 400px;
  }

 
  .login_img{
    width: 100% !important;
  }

  .log_reg .container9 .user .formBx {
    width: 100%;
  }
   .container9.active{
    height: 900px !important;
  }
  .sign_img{
    width: 100% !important;
  }
  .signupBx{
    flex-direction: column-reverse;
  }
}












